body {
    background-color: black;
    color: white;
}

audio {
    display: none;
    margin: 1em auto;
}

#anyKey, #hint {
    color: yellow;
}

#hint {
    display: none;
    font-size: .8em;
}

.letterSpacing {
    letter-spacing: .1em;
}

input {
    display: none;
}