body {
    background-color: black;
    color: white;
}

audio {
    display: none;
    margin: 1em auto;
}

#instructions, #hint {
    color: yellow;
}

#startButton {
    background-color: yellow;
    font-weight: bold;
    border: none !important;
}

#hint {
    display: none;
    font-size: .8em;
}

.letterSpacing {
    letter-spacing: .1em;
}

#mobileButtons {
    display: none;
}

.button {
    background-color: silver;
    border: none;
}

@media screen and (max-width: 767px) {
    #mobileButtons {
        display: block;
    }
}